@import 'src/styles.scss';

$active-color: map-get($primary, 500);

.nav-item {
  display: flex;
  padding: 12px 30px;
  cursor: pointer;
  width: 250px;

  &.collapsed {
    width: 60px;
    padding: 15px 0px;

    mat-icon {
      margin: auto;
    }

    span {
      display: none;
    }

    &.active {
      border: none;

      mat-icon {
        color: $active-color;
      }
    }
  }

  &.active {
    background-color: rgba(255, 255, 255, 0.04);
    border-right: 3px solid $active-color;
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.04);
  }
}

mat-icon {
  color: #555;
}
