<a [routerLink]="expense.eid">
  <mat-card class="mb-3">
    <mat-card-content>
      <mat-icon>{{ expense.category | iconize : 'category' }}</mat-icon>
      <div class="category">{{ expense.category | capitalize }}</div>
      <div class="store">{{ expense.store }}</div>
      <div class="level">{{ expense.level | capitalize }}</div>
      <mat-icon class="ml-auto icon">{{ expense.currency | iconize : 'currency' }}</mat-icon>
      <div>{{ total.toFixed(2) }}</div>
      <mat-icon class="action ml-2" [matMenuTriggerFor]="actions" (click)="stopPropagation($event)">more_vert</mat-icon>
      <mat-menu #actions="matMenu">
        <button class="text-child" mat-menu-item [routerLink]="[expense.eid, 'edit']">
          <mat-icon>edit</mat-icon>
          <span>Edit</span>
        </button>
        <button mat-menu-item (click)="deleteExpense()">
          <mat-icon color="warn">delete</mat-icon>
          <span class="text-warn">Delete</span>
        </button>
      </mat-menu>
    </mat-card-content>
  </mat-card>
</a>
