mat-sidenav-container {
  height: 100vh;
  background-color: #121212;
}

mat-sidenav {
  width: 250px;
  transition: width 0.2s ease-in-out;
  color: #999;
  background-color: #292929;

  img {
    width: 200px;
    max-width: 200px;
  }

  &.collapsed {
    width: 60px;

    img {
      overflow: hidden;
      width: 170px;
      margin: 7px 2px;
    }
  }
}

mat-toolbar {
  background-color: #292929;
  position: sticky;
  padding: 0px 24px;
  top: 0;
  z-index: 100;
  border-bottom: #121212 1px solid;
}

mat-sidenav-content {
  scroll-behavior: smooth;
}

.content {
  padding: 24px;
}

.avatar {
  width: 36px;
  height: 36px;
  font-size: 36px;
  border-radius: 50%;
  margin-left: auto;
  cursor: pointer;
}

.user-logo {
  width: 50px;
  height: 50px;
  font-size: 50px;
  border-radius: 50%;
}

.nav-toggle {
  width: 100%;
  padding: 8px;
  background-color: rgba(255, 255, 255, 0.04);

  &:hover {
    background-color: rgba(255, 255, 255, 0.06);
  }
}
