<div class="flex justify-between">
  <h1 class="text-2xl">Expenses</h1>
  <div>
    <button class="mr-4" mat-button (click)="displayErrorMessage('Filter')">
      <mat-icon [matBadge]="null" matBadgePosition="before">filter_list</mat-icon>
      <span>Filter</span>
    </button>
    <a mat-raised-button color="primary" routerLink="add">Add Expense</a>
  </div>
</div>

<div *ngIf="query.getState$() | async as result">
  <div class="flex justify-center my-24" *ngIf="result.fetching; else loaded">
    <mat-spinner strokeWidth="2" diameter="50"></mat-spinner>
  </div>
  <ng-template #loaded>
    <h1 *ngIf="result.error">Error: {{ result.error }}</h1>
    <div *ngIf="result.data">
      <div class="my-3" *ngFor="let group of expenseGroups$ | async">
        <div class="p-3 flex justify-between text-gray-300">
          <div>{{ group.label }}</div>
          <div class="mr-9 flex items-center">
            <mat-icon class="icon">{{ currency$ | async | iconize: 'currency' }}</mat-icon>
            <span>{{ (group.total / 100).toFixed(2) }}</span>
          </div>
        </div>
        <app-expense-list [expenses]="group.expenses"></app-expense-list>
      </div>
      <mat-paginator
        *ngIf="page$ | async as page"
        class="!bg-inherit"
        (page)="handlePageChange($event)"
        [length]="page.length"
        [pageIndex]="page.pageIndex"
        [pageSize]="page.pageSize"
        [pageSizeOptions]="page.pageSizeOptions"
      ></mat-paginator>
    </div>
  </ng-template>
</div>
